/* formulario-lista.component.css */

.container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 8px 12px;
    margin-bottom: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  li button {
    margin-left: 6px;
  }
  
  .btn-primary {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color de texto */
    border: none; /* Elimina el borde */
    padding: 5px 10px; /* Espaciado interior del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición en el color de fondo */
    margin-right: 10px;
  }
  .btn-secondary {
    background-color: #6c757d;
    color: #fff; /* Color de texto */
    border: none; /* Elimina el borde */
    padding: 5px 10px; /* Espaciado interior del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición en el color de fondo */
    margin-right: 5px;
  }
  
  .btn-danger {
    background-color: #dc3545; /* Color de fondo */
    color: #fff; /* Color de texto */
    border: none; /* Elimina el borde */
    padding: 5px 10px; /* Espaciado interior del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición en el color de fondo */
  }
  