<div class="opciones">
  
<div class="talonarios">
    <label> Talonarios </label>
 
    <input
    type="number"
    [(ngModel)]="numberOfForms[indexinterior]"
    (ngModelChange)="onNumberOfFormsChange()"
    name="numberOfForms"/>

  </div>
</div>

  <div *ngFor="let tablas of mistalonarios; let i = index" class="form-container">
   
        <tr>
          <td colspan="2">

            <input type="text" [value]="nombreactividad" readonly center>
          </td>
        </tr>
        <tr>
          <td>

            <label for="campo1"  readonl>Nº Talonario:</label>
          </td>
          <td>
            <input  type="number" id="talonario" name="talonario"   [disabled]="tablas.bloqueada"   value ="{{i+1}}" readonly />
          </td>
        </tr>
        <tr>
          <td>
            <label for="campo3">Factura Inicial:</label>
          </td>
          <td>
            <input type="number" id="campo4" name="campo4" [(ngModel)]="tablas.factinicial" value ="{{tablas.factinicial}}" [disabled]="tablas.bloqueada"/>
          </td>
        </tr>

        <tr>
          <td>
            <label for="campo5" >Factura Final:</label>
          </td>
          <td>
            <input type="number" id="campo6" name="campo6" [(ngModel)]="tablas.factfinal" value ="{{tablas.factfinal}}" [disabled]="tablas.bloqueada"/>
          </td>
        </tr>

        <tr>
          <td class="checkbox">
            <label for="campo7">Anular-Monto:</label>
          </td>
          <td>
            <p-checkbox [binary]="true" inputId="binary" [(ngModel)]="tablas.agregarFilas" value="{{tablas.agregarFilas}}" ></p-checkbox> 
          </td>  
        </tr>
        <tr>
          <td><label for="campo5" >Total:</label></td>
          <td>
          <input type="number" id="campo9" name="campo9"   value ="{{tablas.suma}}" readonly/>
        </td>  
      </tr>
        <tr *ngIf="tablas.agregarFilas">
          <td colspan="1">Ponga el Monto:</td>
          <input type="text" [(ngModel)]="tablas.montodinamico"/>
          <td colspan="1"><button (click)="anulacionChange(tablas.iduuid)">crear</button></td>
        </tr>

        <tr>
          <td colspan="2" class="ventas">
            <label for="suma">Suma Ventas</label>
          </td>
        </tr>

        <tr>
            <td colspan="2">
                
                    <hot-table [settings]="tablas.hotSettings" [hotId]="tablas.iduuid" ></hot-table>
                 

               
              </td>
        </tr>
        
    </div>
    <p-toast></p-toast>
    <button (click)="guardarDatos()">prueba</button>