.formulario2 {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinear verticalmente en el centro si es necesario */
}

.formulario-container {
  margin-right: 20px; /* Agrega margen derecho entre los contenedores */
}

/* Estilos adicionales según tus necesidades */
