.btn-primary {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color de texto */
    border: none; /* Elimina el borde */
    padding: 5px 10px; /* Espaciado interior del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición en el color de fondo */
    margin-right: 10px;
  }

  .btn-danger {
    background-color: #dc3545; /* Color de fondo */
    color: #fff; /* Color de texto */
    border: none; /* Elimina el borde */
    padding: 5px 10px; /* Espaciado interior del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición en el color de fondo */
  }
  