<div class="form-group">
    <label for="tipo">Tipo:</label>
    <select id="tipo" class="form-control" [(ngModel)]="opcion" name="tipo" style="width: 150px;" (change)="selecttipo(opcion)">
      <option *ngFor="let tipo of actividadestipo" [value]="tipo.seccion">{{tipo.seccion}} . {{tipo.nombre}}</option>
    </select>


    <label for="seccion">Seccion:</label>
      <select id="seccion" class="form-control" [(ngModel)]="opcionseccion" name="seccion" style="width: 150px;" (change)="selecSeccion(opcion,opcionseccion)">
        <option *ngFor="let seccion of secciones" [value]="seccion.division">{{seccion.seccion}} . {{seccion.nombre}}</option>
      </select>



      <label for="division">Division:</label>
      <select id="division" class="form-control" [(ngModel)]="opciondivision" name="division" style="width: 150px;" >
          <option *ngFor="let division of divisiones" [value]="division.idactividades">{{division.seccion}} . {{division.nombre}}</option>
      </select>
  
      <div class="text-center mt-2">
        <button class="btn btn-primary btn-sm" (click)="editarActividad(opciondivision)">Editar</button>
        <button class="btn btn-danger btn-sm"(click)="cerrarModal()">Cancelar</button>
    </div>

    
     
  </div>
