<div class="panel">
    <h3>Fecha: 04/03/2024</h3>
   
    <hr>
    <ul>
      <li *ngFor="let item of panelItems">{{ item }}</li>
    </ul>
  </div>
  
  <h2>Rango de Fechas</h2>

  <div class="container-center">
  
 
  
  
    <div class="inner-container">
     
        <div class="box">
          <div class="header">Fecha Inicio</div>
          <p-calendar [(ngModel)]="fechainicio" [showIcon]="true" [locale]="es"></p-calendar>
        </div>

        <div class="box">
          <div class="header">Fecha Final</div>
          <p-calendar [(ngModel)]="fechafinal" [showIcon]="true"></p-calendar>
        </div>

        <div class="box-button">
          <p-button (click)="onSubmit()">Generar Reporte</p-button>
        </div>
        
        
       
        
    </div>
    
   
     
   
  </div>

 

