.form-container {
 
  max-width: 600px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px; 
}

.section-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
}

.sum-input {
  width: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.table-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.table-container label {
  
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.compras{
  background-color: #4b49c0; /* Color 1 */
}