<div>
    <table class="table">
        <tr>
            <td>
                <h3>VENTAS</h3>
                  <p>Total Ventas Casa Matriz</p>
                  <p>Total Ventas Sucursal</p>
                <h3>Compras</h3>
                  <p>Total 100%</p>
                  <p>Total Gasolina</p>
                  <p>Total ICE 100%</p>
                  <p>Total Credito Fiscal</p>
                  <p>Total Compras</p>
                <h3>Ver Observaciones</h3>
                <p-listbox [options]="countries" optionLabel="name" [listStyle]="{ 'max-height': '150px' }" [style]="{ width: '27rem' }" >
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/>
                            <div>{{ country.name }}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </td>
            <td>
                <h3>IVA</h3>
                  <p>Total IVA <p-tag value="(-) No Paga" [style]="{'background-color':'#4bca60'}"></p-tag> </p> 
                <h3>IT</h3>
                  <p>TOTAL IT <p-tag value="(+) Paga" [style]="{'background-color':'#ca4545'}"></p-tag></p>
                <h3>Comision</h3>
                  <p>Valor de la Comisión</p>
                <h3>Otros</h3>
                  <p>Valor de Otros</p>
                <h3>TOTAL</h3>
                  <p>Valor Total</p>
            </td>
        </tr>
    </table>
    <div style="text-align: center;">
    <p-button class="buttonaceptar" >Aceptar</p-button>
</div>
</div>
