
    <p-table  #datosTable [tableStyle]="{'min-width': '50rem'}"  styleClass="tabla" [styleClass]="'p-datatable-bordered'">
        <ng-template pTemplate="header"  >
            <tr>
            <th colspan="5" >NOMBRE: {{ item.razonsocial }}</th>
            <th colspan="2" >GESTION: 
                <select [(ngModel)]="anioActual" (ngModelChange)="onAnioChange()">
                    <option *ngFor="let anio of anios" [value]="anio" [selected]="anio === anioActual">{{ anio }} </option>
                  </select>
            </th>
            <th colspan="4">Nº:{{item.ter_cliente}}</th>
        </tr>
        <tr >
            <th colspan="3">NIT:{{item.nit}}</th>
            <th colspan="2">CIERRE:{{item.mescierre}}</th>
            <th colspan="3">RESP.LEGAL:</th>
            <th colspan="3">CI: {{item.nit}}</th> 
        </tr>
        
        <tr>
            <th colspan="2">BALANCE:{{datosinicalesempresa.balance}}</th>
            <th colspan="2">TRABAJO:{{datosinicalesempresa.trabajo}}</th>
            <th colspan="3">DOMICILIO: {{item.direccionfiscal}}</th>
            <th colspan="4">TELEFONO: {{item.telefonofiscal}}</th>
        </tr>
        <tr>
            <th colspan="2">TOTAL:{{datosinicalesempresa.total}}</th>
            <th colspan="2">PLANILLAS:{{datosinicalesempresa.planillas}}</th>
            <th colspan="3">USUARIO:{{item.usuario_ofv}}</th>
            <th colspan="4">CONTRASEÑA:{{item.pass_ofv}}</th>
            
            
              
        </tr>
        <tr>
            <th colspan="4">ACTIVIDAD:{{item.actividad}}</th>
            <th colspan="3">TARJETA:{{item.tarjeta_galileo}}</th>
            <th colspan="3">PIN:{{item.pin_galileo}}</th>
            <th > <p-button icon="pi pi-plus" class="botonpeque3" label="Actividades"  [routerLink]="['/actividad']"></p-button></th>
           
        </tr>
       
    </ng-template>
</p-table>

<p-table #datosTable [tableStyle]="{'min-width': '50rem'}"  *ngFor="let fila of mess" styleClass="tabla" [styleClass]="'p-datatable-bordered'">
    <ng-template pTemplate="header"  >
        <tr>
            <th class="menu"> MES</th>
            <th class="menu" >VENTAS</th>
            <th class="menu">COMPRAS</th>
            <th class="menu">IVA</th>
            <th class="menu">IT</th>
            <th class="menu">SALDO IVA</th>
            <th class="menu">SALDO IUE</th>
            <th class="menu">COMISION</th>
            <th class="menu">TOTAL</th>
            <th class="menu" colspan="3">OBSERVACION/CANCELACION    </th>
        </tr>
        <tr>
            <td style="list-style-type: none;" [style.background-color]="backgroundColor">
                 <li class="mes" >{{fila.mes}} </li>
                 <li>Resp.Suma:{{fila.respsuma}}</li>
                 <li>&#8203;</li>
                 <li>Resp.Declaracion: {{fila.respdeclaracion}}</li>
                 <li>Fecha Creacion Centralizador: {{fila.fecha}}</li>
                
            </td>
            <td >{{fila.totalventas}}</td>
            <td >{{fila.totalcompras}}</td>
            <td style="list-style-type: none;">
                   <li>&#8203;</li>  
                   <li>{{fila.iva}}</li>
                   <li>Resp.Libro:(LCV){{fila.resplibro}}</li> 
            </td>
            <td style="list-style-type: none;">
                    <li>&#8203;</li>
                    <li>{{fila.it}}</li>
                    <li>Resp.Baacarizacion:(BANC){{fila.respbancarizacion}}</li>
            </td>
            <td >{{ fila.saldoiva  }}</td>
            <td >{{ fila.saldoiue  }}</td>
            <td >{{ fila.comision }}</td>
            <td >{{ fila.total }}</td>
            
            <td style="list-style-type: none;" >
                    <li class="mes"></li>
                    <li style="margin-bottom: 2px;" label="FFFF">Resp.Cobro:</li>
                    <li style="margin-bottom: 2px;">Fecha Cobro: {{fila.centralizador.anio}} </li>
                    <li style="margin-bottom: 2px;">Monto:{{fila.observaciones}} </li>
            </td>

            

            <td style="list-style-type: none;" class="centrar" [style.background-color]="backgroundColorPago">
                <li class="mes" style="margin-bottom: 2px;">Opciones{{fila.opciones }}</li>
                 <li style="margin-bottom: 2px;"><p-button icon="pi pi-plus" class="botonpeque2" label="Suma"  [routerLink]="['/principal',item.idempresa,anioActual,fila.mes, fila.idcentralizadormes]"></p-button></li>
                <li style="margin-bottom: 2px;" >
                    <p-button (click)="openModalDetalleCentralizador()"icon="pi pi-eye" class="botonpeque2" label="Detalles"> </p-button>
                <li><p-button (click)="openObservaciones(fila.idcentralizadormes)"icon="pi pi-pencil" class="botonpeque2" label="Observaciones"> </p-button></li>
                </td>
                <td style="list-style-type: none;" class="centrar" >        
                    <li class="mes" style="margin-bottom: 2px;">Pagos:{{fila.estado }}</li>
                    <li style="margin-bottom: 2px;"><p-button icon="pi pi-dollar" class="botonpeque2" label="Cobro"  (click)="openModalCobro(fila.idcentralizadormes)"></p-button></li>
                    <li>Ultimo Monto:</li>
                </td>
               
        </tr>
    </ng-template>
</p-table>