<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/handsontable@11.1/dist/handsontable.full.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@11.1/dist/handsontable.full.min.css" /> 
<!-- Panel desplegable con datos -->

<p-panel header="Datos Cliente" [toggleable]="true" [collapsed]="!panelVisible">
    <div class="panel-content">
  <ng-container *ngIf="panelVisible">
    <p-table  #datosTable [tableStyle]="{'min-width': '50rem'}"  styleClass="tabla" [styleClass]="'p-datatable-bordered'">
      <ng-template pTemplate="header"  >
          <tr>
          <th colspan="5" >NOMBRE:{{empresadatos.razonsocial}} </th>
          <th colspan="2" >GESTION: {{anioactual}}</th>
          <th colspan="4">Nº:{{empresadatos.num_empresa}}</th>
      </tr>
      <tr >
          <th colspan="3">NIT:{{empresadatos.nit}}</th>
          <th colspan="2">CIERRE:{{empresadatos.mescierre}}</th>
          <th colspan="3">RESP.LEGAL:{{empresadatos.idresponsable}}</th>
          <th colspan="3">CI:{{empresadatos.nit}} </th>
      </tr>
      
      <tr>
          <th colspan="2">BALANCE:
            <input type="number" class="custom-input" [disabled]="!checkboxbalanceinput" value="{{datosinicalesempresa.balance}}"  [(ngModel)]="balancecontenido" (ngModelChange)="onBalanceChange()">
            <p-checkbox  [binary]="true" inputId="binary" [binary]="true" inputId="binary" [(ngModel)]="checkboxbalanceinput" (ngModelChange)="onbalanceChange()"></p-checkbox>

          </th>
          <th colspan="2">TRABAJO:
            <input type="number" class="custom-input" [disabled]="!checkboxtrabajoinput" value="{{datosinicalesempresa.trabajo}}"  [(ngModel)]="trabajocontenido" (ngModelChange)="onTrabajoChange()">
            <p-checkbox  [binary]="true" inputId="binary" [binary]="true" inputId="binary" [(ngModel)]="checkboxtrabajoinput" (ngModelChange)="ontrabajoChange()"></p-checkbox>

          </th>
          <th colspan="3">DOMICILIO: {{empresadatos.direccionfiscal}}</th>
          <th colspan="4">TELEFONO: {{empresadatos.telefonofiscal}}</th>
      </tr>
      <tr>
          <th colspan="2">TOTAL:{{total}}</th>
          <th colspan="2">PLANILLAS:{{ datosinicalesempresa.planillas}}</th>
            

           
          <th colspan="3">USUARIO:{{empresadatos.usuario_ofv}}</th>
          <th colspan="3">CONTRASEÑA:{{empresadatos.pass_ofv}}</th>  
      </tr>
      <tr>
          <th colspan="4">ACTIVIDAD:{{empresadatos.actividad}}</th>
          <th colspan="3">TARJETA:{{empresadatos.tarjeta_galileo}}</th>
          <th colspan="3">PIN:{{empresadatos.pin_galileo}} {{empresadatos.comision}}</th>
         
      </tr>
      
           
      <tr  >
        <th>Saldo IVA :
          <input type="number" class="custom-input" [disabled]="!checkboxsaldoivainput" value="{{centralizadormes.saldoiva}}"  [(ngModel)]="saldoivacontenido" (ngModelChange)="onsaldoIvaChange()">
          <p-checkbox  [binary]="true" inputId="binary" [binary]="true" inputId="binary" [(ngModel)]="checkboxsaldoivainput" (ngModelChange)="onsaldoivaChange()"></p-checkbox>
          <p-button icon="pi pi-eye" (click)="showDialogIVA()"  [style]="{'width':'2px','height':'2px','background-color': '#DA3838'}" ></p-button>
        </th>
        <th>Saldo IUE :
          <input type="number" class="custom-input"  [disabled]="!checkboxsaldoiuenput" value="{{centralizadormes.saldoiue}}">
          <p-checkbox  [binary]="true" inputId="binary"  [(ngModel)]="checkboxsaldoiuenput"></p-checkbox>
          <p-button icon="pi pi-eye" (click)="showDialogIUE()"  [style]="{'width':'2px','height':'2px','background-color': '#DA3838'}" ></p-button>
      </th>
      <th>Comision 
          <input type="number" class="custom-input" [disabled]="!checkboxcomisioninput" value="{{centralizadormes.comision}}" [(ngModel)]="comisioncontenido" (ngModelChange)="onComisionChange()">
          <p-checkbox  [binary]="true" inputId="binary" [(ngModel)]="checkboxcomisioninput" (ngModelChange)="oncomisionChange()" ></p-checkbox>
          <p-button icon="pi pi-eye" (click)="showDialogComision()"  [style]="{'width':'2px','height':'2px','background-color': '#DA3838'}" ></p-button>
      </th>
        <th colspan="6"> IVA (Impuestos Nacionales)
          <input type="number" class="custom-input" [disabled]="!checkboxivaimpuestosnainput"value="{{centralizadormes.ivaimpuestos}}" [(ngModel)]="ivaimpuestoscontenido"  (ngModelChange)="onivaImpuestosnChange()">
          <p-checkbox  [binary]="true" inputId="binary" [(ngModel)]="checkboxivaimpuestosnainput" (ngModelChange)="onivaimpuestosnChange()"></p-checkbox>
      </th>
      <th>
        <p-button label="Resumen" severity="help" [style]="{'background-color':'#c1e444'}" (click)="resumenmes()"></p-button>
      </th>
     </tr>
   
  </ng-template>
</p-table>
</ng-container>
    </div>
</p-panel>
         






<div class="panelprincipal">
  
<div class="card">
  <p-tabView>
    
      <p-tabPanel header="Ventas">
         <app-ventas  [parametroDelPadreidcentralizadormes]="idcentralizadormes"></app-ventas>
      </p-tabPanel>
     
      <p-tabPanel header="Compras">
          <app-compras [parametroDelPadreidcentralizadormes]="idcentralizadormes"></app-compras>  
      </p-tabPanel>

      <p-tabPanel header="Otros">
          <app-otros [parametroDelPadreidcentralizadormes]="idcentralizadormes"></app-otros>
      </p-tabPanel>
  </p-tabView>
</div>




    
  

  
   


  



<button>Guardar</button>