
<p-splitter [panelSizes]="[20, 80]" [style]="{ height: '632px' }" styleClass="mb-5">
    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center panel-iconos">
        <div class="logo-container">  <img alt="dropdown icon" src="/assets/icons/logo.png"></div>
          <div (click)="mostrarVista('vista0')" class="icono-panel"><i class="pi pi-home"></i> Inicio</div>
          <div (click)="mostrarVista('vista1')" class="icono-panel"><i class="pi pi-cart-plus"></i> Productos</div>
          <div (click)="mostrarVista('vista2')" class="icono-panel"><i class="pi pi-box"></i> Entradas </div>
          <div (click)="mostrarVista('vista6')" class="icono-panel"><i class="pi pi-dollar"></i> Salidas </div>
          
          
          
          
          <div class="icono-panel" (click)="toggleOptions()">
            <i class="pi pi-file"></i> Reporte de Ventas
            <div *ngIf="showOptions" class="opciones">
              <div (click)="mostrarVista('vista3')">&nbsp;&nbsp;<i class="pi pi-angle-right"></i>Ventas por Fecha</div>
              <div (click)="mostrarVista('vista5')">&nbsp;&nbsp;<i class="pi pi-angle-right"></i>Ventas Anuales-Mensuales</div>
              <div (click)="mostrarVista('vista7')">&nbsp;&nbsp;<i class="pi pi-angle-right"></i>Ventas Diarias</div>
              
            </div>
          </div>
          
          
          <div (click)="mostrarVista('vista4')" class="icono-panel"><i class="pi pi-user"></i> Perfil</div>
          <div (click)="mostrarVista('vista5')" class="icono-panel"><i class="pi pi-sign-out"></i> Salir</div>

         
        </div>
      </ng-template>

    


    <ng-template pTemplate>
     
      <app-inicio *ngIf="vista === 'vista0'"></app-inicio>
        <app-productos *ngIf="vista === 'vista1'"></app-productos>
        <app-entradasalida *ngIf="vista === 'vista2'"></app-entradasalida>
        <app-informe *ngIf="vista === 'vista3'"></app-informe>
        <app-informemensual *ngIf="vista === 'vista5'"></app-informemensual>
        <app-informediario *ngIf="vista === 'vista7'"></app-informediario>
        <app-salidas *ngIf="vista === 'vista6'"></app-salidas>
    </ng-template>

   

</p-splitter>

