@import "~primeicons/primeicons.css";

html, body {
    height: 100%;
    margin: 0;
  }
.panel-iconos {
    background-color: #112F50; /* Color de fondo del panel */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    height: 100%;
    width: 100%;
  }
  
  .p-splitter-panel {
    height: 100%;
    
  }
  .icono-panel {
    margin-bottom: 10px; /* Espacio entre los íconos */
    cursor: pointer; /* Cursor al pasar por encima */
    color: #000; /* Color del texto por defecto */
  }
  
  .icono-panel:hover {
    color: #fff; /* Cambio de color del texto al pasar el mouse */
  }
  
  .icono-panel  {
    color: #fff; /* Color del texto específico para el icono de cart-plus */
  }
  
  .icono-panel i {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
  }
  

  .logo-container {
    width: 200px; /* Anchura deseada */
    height: 100px; /* Altura deseada */
  }
  
  .logo-container img {
    width: 100%; /* Anchura del 100% para que la imagen ocupe todo el espacio disponible */
    height: 100%; /* Altura del 100% para que la imagen ocupe todo el espacio disponible */
    object-fit: contain; /* Mantener la proporción de la imagen */
  }









 