<div class="opciones">
    
<label> Facturas Electronicas </label>

<input
    type="number"
    [(ngModel)]="numberOfForms"
    (ngModelChange)="onNumberOfFormsChange()"/>

    
 

  

<div *ngFor="let form of Arraydetabla; let i = index" class="form-container">
 
 
        <tr>
            <td colspan="2">
              <select id="selectOption" name="selectOption">
                <option value="opcion1">Casa Matriz</option>
                <option value="opcion2">Alquiler</option>
                <option value="opcion3">Restaurante</option>
              </select>
            </td>
          </tr>

          <tr>
            <td>
              <label for="factinicial">Numero de Talonario:</label>
            </td>
            <td>
              <input type="number" id="numtalonario"  [value]="i+1" />
            </td>

          </tr>

          <tr>
            <td>
              <label for="factinicial">Factura Inicial:</label>
            </td>
            <td>
              <input type="number" id="factinicial" [(ngModel)]="factinicial"  />
            </td>

          </tr>

          <tr>
            <td>
              <label for="factfinal" >Factura Final:</label>
            </td>
            <td>
              <input type="number" id="factfinal" [(ngModel)]="factfinal"  />
            </td>
          </tr>

        <tr>
          <td class="electronicas">
            <label for="monto">Monto Importe:</label>
          </td>
          <td>
            <input type="number" id="monto" [(ngModel)]="monto"   />
          </td>
        </tr>
        <tr>
          <td  class="electronicas">
            <label for="archivo">Subir Archivo:</label>
          </td>
          <td>
            
        
        
        <p-fileUpload mode="basic"
           chooseLabel="Subir"
           name="demo[]" 
           url="https://www.primefaces.org/cdn/api/upload.php" 
           accept=".pdf,.xls,.xlsx" 
           (onUpload)="onUpload($event)"
           [disabled]="botonClickeado">
        </p-fileUpload>
          

        
             
          </td>
         
        </tr>

        <tr>
          <td  class="electronicas">
            <label for="observacion">Observacion:</label>
          </td>
          <td>
            <textarea rows="3" type="text" id="observacion" [(ngModel)]="observacion"  ></textarea>
          </td>
        </tr>

       

        <button type="submit" class="btn btn-primary" (click)="guardar()" [disabled]="botonguardar">Guardar</button>
      </div>
    
   
</div>

