<div class="opciones">
    
<label> Facturas Electronicas </label>

<input
    type="number"
    [(ngModel)]="numberOfForms[index]"
    (ngModelChange)="onNumberOfFormsChange()"/>

    
 

  

<div *ngFor="let form of Arraydetabla[index]; let i = index" class="form-container">
 
 
  <tr>
    <td colspan="2">

      <input type="text" [value]="nombreactividad" readonly center>
    </td>
  </tr>

          <tr>
            <td>
              <label for="factinicial">Numero de Talonario:</label>
            </td>
            <td>
              <input type="number" id="numtalonario"  [value]="i+1" />
            </td>

          </tr>

          <tr>
            <td>
              <label for="factinicial">Factura Inicial:</label>
            </td>
            <td>
              <input type="number" id="factinicial" [(ngModel)]="factinicial[i]"    />
            </td>

          </tr>

          <tr>
            <td>
              <label for="factfinal" >Factura Final:</label>
            </td>
            <td>
              <input type="number" id="factfinal" [(ngModel)]="factfinal[i]"  />
            </td>
          </tr>

        <tr>
          <td class="electronicas">
            <label for="monto">Monto Importe:</label>
          </td>
          <td>
            <input type="number" id="monto" [(ngModel)]="monto[i]"   />
          </td>
        </tr>
        <tr>
          <td  class="electronicas">
            <label for="archivo">Subir Archivo:</label>
          </td>
          <td>
            
        
        
        <p-fileUpload mode="basic"
           chooseLabel="Subir"
           name="demo[]" 
           url="https://www.primefaces.org/cdn/api/upload.php" 
           accept=".xls,.xlsx" 
           (onUpload)="onUpload($event,i)"
           [disabled]="botonClickeado[i]"
           [auto]="true"
           >
          
           
        </p-fileUpload>
          

        
             
          </td>
         
        </tr>

        <tr>
          <td  class="electronicas">
            <label for="observacion">Observacion:</label>
          </td>
          <td>
            <textarea rows="3" type="text" id="observacion" [(ngModel)]="observacion[i]"  ></textarea>
          </td>
        </tr>

       

        <button type="submit" class="btn btn-primary" (click)="guardar(i)" [disabled]="botonguardar">Guardar</button>
      </div>
    
   
</div>

<p-toast></p-toast>