<div *ngFor="let tablas of hotSettingsArray; let i = index" class="form-container">
  <!-- Encabezado de la sección de compras -->
  <div class="section-header">
    <span class="section-title">Compras</span>
    <div>
      Total  <input class="sum-input" [value]="sumacompra100" readonly/><br>
      Bruto  <input class="sum-input" [value]="sumacompra100bruto" readonly/><br>
      Excento<input class="sum-input" [value]="sumacompra100excento" readonly/><br>
      Neto   <input class="sum-input" [value]="sumacompra100neto" readonly/><br>
      
    </div>
    
    <span class="section-title">Gasolina</span>
    <div>
    Total<input class="sum-input" [value]="sumacompragasolina" /><br>
    30%<input class="sum-input" [value]="sumacompragasolina30" /><br>
  </div>
  
    <span class="section-title">ICE-CreditoFiscal</span>
    <div>
    TOTAL ICE <input class="sum-input" [value]="sumacompraice" /><br>
    TOTAL C.F<input class="sum-input" [value]="sumacompracf" /><br>
  </div>
  </div>
  
  
  <!-- Tabla Compras -->
  <div class="table-container">
    <label>Tabla Compras</label>
    <hot-table [settings]="tablas" [hotId]="'tabla3'" ></hot-table>
    
  </div>
 
</div>

