/* Aplica un contorno al formulario */
form {
    border: 2px solid #ccc; /* Cambia el color y el grosor del borde según tus preferencias */
    padding: 10px; /* Agrega relleno para separar el contenido del borde */
    width: 75%;
    height: 75%;
  }
  
  /* Estilo para las filas (row) en el formulario */
  .row {
    margin-bottom: 10px; /* Agrega un espacio entre las filas */
  }
  
  /* Aplica un contorno a los elementos de entrada de texto */
  input[type="text"], select {
    border: 1px solid #ccc; /* Cambia el color y el grosor del borde según tus preferencias */
    padding: 5px; /* Agrega relleno para separar el texto del borde */
    width: 100%; /* Ocupa todo el ancho disponible */
  }
  


  .ventasprevaloradas {
    text-align: center; /* Centra horizontalmente el contenido del TD */
    background-color: #46be6a;
    color: #fff;
  }

  .form-container {
    display: inline-block;
  }
 