    
      <label> Talonarios Prevalorados</label>
      <input
        type="number"
        [(ngModel)]="numberOfForms"
        (ngModelChange)="onNumberOfFormsChange()"/>

  
        <div *ngFor="let tablas of hotSettingsArray; let i = index" class="form-container">
   
          <tr>
            <td colspan="2">
              <select id="selectOption" name="selectOption">
                <option value="opcion1">Casa Matriz</option>
                <option value="opcion2">Alquiler</option>
                <option value="opcion3">Restaurante</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="campo1" >Nº Talonario:</label>
            </td>
            <td>
              <input type="text" id="campo2" name="campo2" [value]="i + 1" [disabled]="tablas.bloqueada" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="campo3">Factura Inicial:</label>
            </td>
            <td>
              <input type="number" id="campo4" name="campo4" [(ngModel)]="factinicial" [value] ="0" required="true" [disabled]="tablas.bloqueada"/>
            </td>
          </tr>
  
          <tr>
            <td>
              <label for="campo5" >Factura Final:</label>
            </td>
            <td>
              <input type="number" id="campo6" name="campo6" [(ngModel)]="factfinal" [disabled]="tablas.bloqueada"/>
            </td>
          </tr>
  
          <tr>
            <td class="checkbox">
              <label for="campo7">Anular-Monto:</label>
            </td>
            <td>
              <p-checkbox [binary]="true" inputId="binary" [(ngModel)]="agregarFilas" ></p-checkbox> 
            </td>  
          </tr>
          <tr *ngIf="agregarFilas">
            <td colspan="1">Ponga el Monto:</td>
            <input type="text" [(ngModel)]="montodinamico"/>
            <td colspan="1"><button (click)="anulacionChange()">crear</button></td>
          </tr>
  
          <tr>
            <td colspan="2" class="ventasprevaloradas">
              <label for="suma">Suma Ventas Prevaloradas</label>
            </td>
          </tr>
  
          <tr>
              <td colspan="2">
                  
                      <hot-table [settings]="tablas" [hotId]="idtalonario"  ></hot-table>
                      <button (click)="guardarDatos(i)" [disabled]="tablas.bloqueada">Guardar</button>
  
                 
                </td>
          </tr>
          
     
      </div>
  