<div class="container">
  <h2>Formulario</h2>
  <form>
    <div class="form-group">
        <label for="responsableSuma">Responsable de Aprobacion:</label>
        <label> aqui va el responsable de aprobacion</label>

      </div>
    <div class="form-group">
      <label for="responsableSuma">Responsable de Suma:</label>
      <label> aqui va el responsaalbe de suma</label>
      <label>  La Suma se inicio en Fecha</label>
    </div>

    <div class="form-group">
      <label for="responsableDeclaracion">Responsable de Declaración:</label>
      <label> aqui va el responsable de Declaración</label>
      <label> en fecha</label>
    </div>

    <div class="form-group">
      <label for="responsableLibro">Responsable de Libro:</label>
      <label> aqui va el responsaalbe de Libro</label>
      <label> en fecha</label>
    </div>

    <div class="form-group">
      <label for="responsableBancarizacion">Responsable de Bancarización:</label>
      <label> aqui va el responsaalbe de Bancarización</label>
      <label> en fecha</label>
    </div>

    <div class="form-group">
      <label for="responsableCobro">Responsable de Cobro:</label>
      <label> aqui va el responsaalbe de Cobro</label>
      <label> en fecha</label>
    </div>

    <div class="form-group">
      <label for="montoCobro">Monto de Cobro:</label>
      <label> aqui va el Monto de Cobro</label>
      <label> en fecha</label>
    </div>

    <div class="form-group">
        <label for="cobro">Cobro:</label>
        <ul>
          <li>Cobro 1 </li>
          <li>Cobro 2 </li>
        </ul>
      </div>

    <div class="form-group">
      <label for="observaciones">Observaciones:</label>
      <ul>
        <li>Observacion 1 </li>
        <li>Observacion 2 </li>
        <li>Observacion 3 </li>
        <li>Observacion 4 </li>
      </ul>
    </div>

    <button type="cancel" class="btn btn-primary">Cerrar</button>
    <button type="cancel" class="btn btn-primary">Descargar Informe PDF</button>
    <button type="cancel" class="btn btn-primary">Descargar Informe Excel</button>
  </form>
</div>
